[submodule "thirdparty/rapidjson"]
	path = code/thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/abseil-cpp"]
	path = code/thirdparty/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
	shallow = true
[submodule "code/test/data/ShapeShiftData/data"]
	path = code/test/data/ShapeShiftData/data
	url = git@github.com:blocksecteam/bitcoinmixing.git
